.header {
  background: #282c34;
  overflow: hidden;
  text-align: center;
  padding: 10px 0;
}
.header ul {
  list-style: none;
  padding: 0;
}
.header li {
  margin: 0 5px;
  color: #fff;
  display: inline-block;
}
.header li a {
  color: inherit;
}

.logo {
  font-size: 24px;
  color: #fff;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.feedList {
  display: flex;
  flex-wrap: wrap;
}
.feedList .feedCard {
  margin: 5px;
  width: 300px;
}
.feedCard img {
  width: 100%;
  height: 300px;
}
